<div ng-controller="CsvCompareToolsCtrl">
  <div class="rc_box1">
    <div class="rc_box2">
      <div class="rc_box3">
        <div class="note">
          *使用方法：下記ファイルをdownload、c\toolsに置いて、regファイルを実行、config.iniを修正（一度だけ）
          <br/><a href="download/tools.zip">差分リンクtools</a></div>
      </div>
    </div>
    <div class="lov1"></div>
    <div class="lov2"></div>
  </div>
  <form name="csvCompareTools" novalidate>
    <div class="condition_area">
      <div class="condition_detail">
        分支名:
        <input type="text" required name="branch_name" ng-model="branch_name" size="20" placeholder="E1" /><span class="warn">*</span>
      </div>
      <div class="condition_detail">
        文件名:E1/
        <input type="text" required name="file_name" ng-model="file_name" size="50" placeholder="customer/bin/sales/sog/sog_a08.pl" /><span class="warn">*</span>
      </div>
      <div class="condition_detail">
        版本1:
        <input type="text" required name="rev1" ng-model="rev1" size="10" placeholder="1.23" /><span class="warn">*</span>
      </div>
      <div class="condition_detail">
        版本2:
        <input type="text" required name="rev2" ng-model="rev2" size="10" placeholder="1.24" /><span class="warn">*</span>
      </div>
      <div class="condition_detail">
        <input type="button" ng-click="get_url()" value="go" />
      </div>
    </div>
  </form>
  <div class="clear">
  </div>
  <div class="Layer1">
    <hr align="center" size="1" color="#aaaaaa" />
  </div>
  <div class="result_area" ng-show="showResult==202">
    <span class="warn" ng-if="csvCompareTools.$error.required">required</span>
  </div>
  <div class="result_area" ng-show="showResult==1">
    <div class="result_detail">
      文件1:{{file1}}
    </div>
    <div class="result_detail">
      文件2:{{file2}}
    </div>
    <div class="result_detail">
      <div ng-class="{true: 'url_link', false: 'url_link_dis'}[url != '' ]">
        <a class="btn" ng-href="{{url}}">比较连接</a>
      </div>
    </div>
  </div>
  <div class="result_area" ng-show="showResult==999">
    <div class="result_detail">
      失败啦
    </div>
    <div class="result_detail">
      {{err_msg}}
    </div>
  </div>
</div>
